

h1{
    color: rgb( 150, 27, 129);
    text-align: center;
}

.main-img{
    width: 50%;
    height: auto;
    float: right;
}

h2{
    color: rgb( 150, 27, 129);
    margin-bottom: 10;
    text-align: center;
}




p{
    color: black;
    text-align: center;
    margin-top: 10;
}



footer {
    text-align: center;
    border-top: 10px solid rgb( 150, 27, 129);
}
